body {
    margin: 0;
    padding: 0;
}

.title {
    color: green;
    text-align: center;
}

.parent {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.photo img {
    width: 350px;
}

.details-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, red, green);
}

.details-btn:hover{
    color: white;
    cursor: pointer;
}

.section-2{
    text-align: center;
    margin-top: 50px;
}

.all-divisions{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.division{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px;
    border-radius: 5px;
}

.div-img img{
    width: 100%;
}

.bottom-section{
    padding: 15px;
}

.bottom-section p {
    text-align: justify;
}

.details{
    background-color: red;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    transition: .8s;
}

.details:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

footer p{
    text-align: center;
}